<link href='/Currency_transaction/app/assets/stylesheets/OneTran.css' rel="stylesheet" type="text/css">

<div class='nav'>
    <div class='navTitle'> 
        <h1>Transaction Id <%= @transaction.id %></h1>
    </div> 

    <div class='navCon'>  
        <ul>
            <li><a href="/transactions/index">Home page</a></li>
            <li><a href="/transactions/showAll">Show All</a></li>
            <li><a href="/transactions/new">Creat a new transaction</a></li> 
        </ul>
    </div>
</div>

<div class='tableCon'> 
<table>  
    <tr>
        <th>Customer ID</th>
        <th>Currency Input</th>
        <th>Amount Input</th> 
        <th>Currency Output</th>
        <th>Amount Output</th> 
        <th>Date of Transcation</th> 
    </tr>
        <tr>
            <td><%= @transaction.customer_id %></td>
            <td><%= @transaction.currency_input %></td>
            <td><%= @transaction.amount_input %></td>
            <td><%= @transaction.currency_output %></td>
            <td><%= @transaction.amount_output %></td>
            <td><%= @transaction.created_at.strftime("%Y-%m-%d : %H:%M") %></td> 
        <tr>
</table> 
</div>

